
body{
    background-color: #8F43EE;
    height: 100vh;
}

.main{
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: #F0EB8D;
    border-radius: 10px;
    width: 60%;
    height: 50%;
}

button{
    position: absolute;
    bottom: 0;
    left: 40%;
    transform: scale(2);
    background-color:#FFACAC ;
    border-radius: 10px;
    border-color: #ffacac87;
}

p{
    font-size: 2em;
    font-family: cursive;
}

@media screen and (max-width:950px){
    p{
        font-size: 1em;
    }
    button{
        left:20%;
        transform: scale(1);
    }
}
